.hero-section {
  color: white;
  padding: 4rem 2rem;
  padding-top: 2rem;
  font-family: 'Poppins', sans-serif;
}

.hero-container {
  max-width: 1250px;
  margin: 0 auto;
}

.hero-left h3 {
  font-size: 2.5rem;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.3;
  width: 80%;
  margin: 0 auto;
}

.hero-left h3 span {
  color: #ffe600;
}

.hero-left h3:nth-child(2) {
  width: 65%;
}

.hero-left p {
  text-align: center;
  margin-top: 0.5rem;
  color: #ccc;
  font-size: 0.95rem;
}

.hero-main {
    max-width: 1100px;
    margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.hero-image img {
  width: 100%;
  max-width: 550px;
  height: 320px;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.1);
}

.hero-details {
  max-width: 500px;
  width: 100%;
}

.date-card {
  display: flex;
  align-items: center;
  background: #093558c0;
  border-radius: 15px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.date-box {
  background: #fafafa;
  color: white;
  text-align: center;
  
  border-radius: 12px;
  margin-right: 1rem;
}

.date-box h4 {
  font-size: 0.8rem;
  letter-spacing: 1px;
  background: rgb(1, 14, 34);
  width: 100%;
  padding: 3px 14px;
}

.date-box h2 {
  font-size: 1.8rem;
  margin-top: 0.3rem;
  padding: 2px 14px;
  color: #222;
  margin-top: 0;
}

.date-info h5 {
  font-size: 1rem;
  margin: 0;
  font-weight: 600;
  margin-bottom: 10px;
}

.date-info p {
  margin: 0;
  font-size: 0.85rem;
  color: #eee;
  text-align: left;
}

.info-grid {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.hero-info-card {
  background: #093558c0;
  flex: 1;
  padding: 1rem;
  border-radius: 12px;
  text-align: center;
}

.hero-info-card p {
  font-size: 0.8rem;
  color: #bbb;
  margin-bottom: 0.3rem;
}

.hero-info-card h4 {
  font-size: 1rem;
  font-weight: 600;
}

.cta-btn {
  background: #ff3f3f;
  color: white;
  border: none;
  border-radius: 15px;
  width: 100%;
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cta-btn:hover {
  background: linear-gradient(90deg, #f52c1d, #ff3463);
}

.cta-btn span {
  color: #ffe600;
}

.cta-btn small {
  display: block;
  font-size: 0.8rem;
  margin-top: 0.3rem;
  color: #ffdddd;
}

@media (max-width: 900px) {
  .hero-main {
    flex-direction: column;
    align-items: center;
  }

  .hero-left h2,
  .hero-left h3 {
    font-size: 1.5rem;
  }

  .hero-details {
    max-width: 90%;
  }
}


@media(max-width: 500px){
    .hero-section {
        padding: 2rem 1rem;
    }
    .hero-left h3{
        width: 100%;
    }
    .hero-left h3:nth-child(2) {
        width: 100%;
        }
        .hero-details{
            width: 100%;
        }
}