.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info{
    flex-basis: 58%;
}
.form{
    flex-basis: 38%;
}
@media(max-width: 450px){
  .bottom{
    flex-direction: column;
    gap: 2rem;
  }
  .info, .form{
    flex-basis: 100%;
  }
}